@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body,
html {
	font-family: 'Open Sans', sans-serif;
	background: #f9fafb;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

$highlight-c: #f4435a;
.cell {
	height: 100%;
	width: 100%;
	border: none;
	user-select: none;
	padding: 0;
	display: block;
	line-height: 20px !important;
	word-spacing: 0px !important;
	letter-spacing: 0px !important;
	text-transform: none !important;
	text-indent: 0px !important;
	text-shadow: none;
	background: transparent;
	font-size: 12px;
	cursor: pointer;
    padding: 0 15px;
    transition: box-shadow .3s;
	&:focus {
		outline: none;
		cursor: auto;
		box-shadow: 0 0 0 1px $highlight-c;
		position: relative;
	}
}
