@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body,
html {
	font-family: 'Open Sans', sans-serif;
	background: #f9fafb;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

$highlight-c: #f4435a;
.cell {
	height: 100%;
	width: 100%;
	border: none;
	user-select: none;
	padding: 0;
	display: block;
	line-height: 20px !important;
	word-spacing: 0px !important;
	letter-spacing: 0px !important;
	text-transform: none !important;
	text-indent: 0px !important;
	text-shadow: none;
	background: transparent;
	font-size: 12px;
	cursor: pointer;
	padding: 0 10px;
	transition: box-shadow 0.3s;
	&:focus {
		outline: none;
		cursor: auto;
		box-shadow: 0 0 0 1px $highlight-c;
		position: relative;
	}
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
	background: $highlight-c !important;
	border-color: $highlight-c !important;
}
